@{
    ViewBag.Title = "Colleges";
}

<img id="Ei" src="~/Content/images/Ceng.jpg" />
<figure>
    <h3 id="HD">
        Collage of Engineering
    </h3>

    <br />
    <br />
    <p id="eng">
        An engineering major is an interdisciplinary study
        of math, science and some business principles.
        General engineering courses teach students how
        to design and conduct experiments,
        to identify and solve problems, to
        understand professional and ethical responsibility,
        and to communicate effectively. <br />

        Majors:Software Engineering - Civil Engineering - <br />
        Industrial Engineering - Elictrical Engineering <br />

        The research activities of our faculty lead to an extraordinary enrichment of
        the experience of our students that is realized at both the graduate and undergraduate levels.
        The research training provided to our graduate students creates the next generation of scholars
        well-prepared to advance knowledge and transfer technology. The extension of research opportunities
        to an ever-increasing group of undergraduate students adds a dimension of experience to the
        undergraduate education that simply cannot be duplicated in the classroom. Our students learn
        the joy as well as the rigours of new discovery, and acquire skills of inquiry, evaluation, and c
        ommunication that provide a foundation for the next phases of their careers and lives.
    </p>

    <button id="Eb"> Major Plans </button>
</figure>

<img id="Bi" src="~/Content/images/Cb.jpg" />
<figure>
    <h3 id="HD">
        College of Business
    </h3>
    <p id="bus">
        College of Business (CoB) located in Riyadh is in the eye of the storm of this change.
        As CoB mission emphasizes its partnership with the community, it designed programs to
        produce leaders that recognize the change and capitalize on it. It graduates students with
        exceptional abilities. We offer two dynamic and transformational academic programs: an MBA
        with three existing tracks: General, Finance, and Healthcare Management; and three
        upcoming tracks: Accounting, Human Capital Management, and Marketing Management;
        and an Undergraduate Business Administration Program grounded in the liberal arts.
        Five undergraduate concentrations are available: Accounting, Finance, Human Resources Management,
        Marketing, and Operations and Project Management. The College also offers active Executive Education
        programs tailored to the needs of the Saudi and regional markets. We provide various opportunities to the
        business community and government agencies to enhance their managerial skills and professional expertise.
        CoB is also the home of the Corporate Governance Center, which plays an important role in sustaining good
        economic growth and helping in the realization of the Kingdom’s 2030 Vision.
    </p>
    <button id="Eb"> Major Plans</button>
</figure>

<img src="~/Content/images/Cl.jpg" />

<figure>
    <h3 id="HD">
        College of Law
    </h3>
    <p id="law">
        College of Business (CoB) located in Riyadh is in the eye of the storm of this change.
        As CoB mission emphasizes its partnership with the community, it designed programs to
        produce leaders that recognize the change and capitalize on it. It graduates students with
        exceptional abilities. We offer two dynamic and transformational academic programs: an MBA
        with three existing tracks: General, Finance, and Healthcare Management; and three
        upcoming tracks: Accounting, Human Capital Management, and Marketing Management;
        and an Undergraduate Business Administration Program grounded in the liberal arts.
        Five undergraduate concentrations are available: Accounting, Finance, Human Resources Management,
        Marketing, and Operations and Project Management. The College also offers active Executive Education
        programs tailored to the needs of the Saudi and regional markets. We provide various opportunities to the
        business community and government agencies to enhance their managerial skills and professional expertise.
        CoB is also the home of the Corporate Governance Center, which plays an important role in sustaining good
        economic growth and helping in the realization of the Kingdom’s 2030 Vision.
    </p>
    <button id="Eb"> Major Plans</button>
</figure>
<!--
<style>
    #eng {
        background-color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        width: fit-content;
        margin-top: -39px;

    }

    #Eb {
        background-color: black;
        color: whitesmoke;
        margin-left: 1050px;
    }

    img {
        margin: 10px;
        width: 315px;
    }

    #HD {
        margin-left: 35px;
    }

    #Bi {
        margin-top: 30px;
    }

    #bus {
        background-color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        width: fit-content;
    }

    #law {
        background-color: aliceblue;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        width: fit-content;
    }
</style>
    -->
