@{
    ViewBag.Title = "Eng";
}
<center>
    <div class="Eng">

        <h2>Software Engineering study plan</h2>

        <img src="~/Content/images/SEPlan.jpg" width="415">

        <h2>Civil Engineering study plan</h2>

        <img src="~/Content/images/CEPlan.png" width="415" />
    </div>
</center>

    