@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <img src="~/Content/images/download.jpg" width="400" hight="550" />
    </center>
    <figure id="homepage">
        Founded in 2002, X University is a fully accredited NCAAA institute of higher education located in the Kingdom of Saudi Arabia.

        A truly architecturally stunning campus, situated on the austere grounds of the palace of his Majesty the Late King Faisal in the capital of Riyadh, Alfaisal is the crown jewel of the internationally reputed King Faisal Foundation. With over 3,000 students (representing over 40 nations), Alfaisal’s undergraduates are enrolled in one of the University’s five colleges: Business, Engineering, Medicine, Science, and Pharmacy. Students have the opportunity to continue their studies on campus by pursuing a graduate degree in business, engineering, nanoscience, biomedical, and health sciences.

        A student-centered and research-focused University, Alfaisal students have singular opportunities for collaborative research and international study. Furthermore, student associations, clubs, and organizations provide opportunities for both personal and professional growth as the University seeks to graduate socially responsible global citizens that are committed to lifelong learning and personal development in service to others.

        Eminence in research is crucial to achieving the University’s
    </figure>
    <hr />
    <!--
    <style>
        figure {
            margin: 15px;
            padding-bottom:-30px;

        }

    </style>

    -->
</div>

<div class="row">
    <div class="col-md-4">
        @User
        <h2>Collage of Engineering</h2>
        <p>
            An engineering major is an interdisciplinary study of math, science and some business principles.
            General engineering courses teach students how to design and conduct experiments, to identify and
            solve problems, to understand professional and ethical responsibility, and to communicate effectively.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Eng">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collage of business</h2>
        <p>College of Business (CoB) located in Riyadh is in the eye of the storm of this change. 
        As CoB mission emphasizes its partnership with the community, it designed programs to 
        produce leaders that recognize the change and capitalize on it. It graduates students with 
        exceptional abilities. </p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Eng">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collage of Law</h2>
        <p>Juris Doctor. Most individuals who are lawyers in the United States have the Juris 
        Doctor (JD) degree. The Juris Doctor degree is not only considered the first law degree in the 
        United States but is also the most well-known and one that's offered through the American Bar 
        Association.</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Eng">Learn more &raquo;</a></p>
    </div>
</div>