
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <center>
        <div class="pro3">
            <img id="M3" src="~/Content/images/profile.jpg" />
            <h1>Profile</h1>
        </div>
    </center>

    <input id="Edit" type="button" value="Edit profile">


    <div class="PerInfo">
        <form class="pro1">
            <h3>Personal info</h3>

            <label for="Nm">Student name</label>
            <input type="text" name="Nm" />

            <label for="Id">Student ID</label>
            <input type="text" name="Id" />


            <label for="Em">Student Email</label>
            <input type="email" name="Em" />



            <div class="AcInfo">
                <hr id="proHr" />

                <h3>Academic Info</h3>
                <label for="Mj">Student Major</label>
                <input type="text" name="Mj" />

                <label for="Id">Student GPA</label>
                <input type="number" name="Gpa" />

                <label for="Em">Student Credits</label>
                <input type="number" name="Hours" />

            </div>
        </form>
    </div>

</body>
</html>
