
@{
    ViewBag.Title = "Signin";
}




<body>
    
    
    


    <center>
        <div class="Rfeilds">

            <form action="https://localhost:44311/Home/index">

                 <h3> <b> Login </b> </h3>
                <hr />
                <label for="ID">
                    Student ID
                </label>

                <input type="text" maxlength="6" required name="ID" />

                <br />
                <br />

                <label for="PW">
                    Password
                </label>

                <input type="password" required name="PW" />

                <br />
                <br />

                <input id="submit" type="submit" />

            </form>
        </div>
    </center>
   

</body>
